extends layout

block variables
    - var msgAlert = m_alert
    - var msgSuccess = m_success
    - var msgInfo = m_info
    - var msgWarning = m_warning

block content
  div.center
    form(action='/users/createaccount', method='post')
        div.center
            img(src='/images/ptit.png',  alt="Ptit")
            p Es molt fàcil registrar-se, només cal posar un nom i una contrasenya i ja està, podràs començar a crear URLs immediatament
        div.center
            label(for='username') Nom &nbsp;
            br
            input#usrname(type='text' name='username' required='')
            br
            label(for='psw') Contrasenya &nbsp;
            br
            input#psw(type='password' name='password' pattern='(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}' title='Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters' required='')
            br
            label(for='psw') Verifica la contrasenya &nbsp;
            br
            input#psw(type='password' name='repassword' pattern='(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}' title='Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters' required='')

        div.center
            input.ghost-button(name='btn', type='submit', value='Registra\'t')

        div.center
            #message
                h3 Password must contain the following:
                p#letter.invalid
                    | A 
                    b lowercase
                    |  letter
                p#capital.invalid
                    | A 
                    b capital (uppercase)
                    |  letter
                p#number.invalid
                    | A 
                    b number
                p#length.invalid
                    | Minimum 
                    b 8 characters
    
